/* .container {
	display: grid;
	border: 2px solid darkgreen;
	border-radius: 8px;
	background-color: lightskyblue;
	height: 50px;
} */

.page-container {
	display: flex;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin: 24px;
}

.grid-container {
	display: grid;
	grid-template-areas:
		'header header header header header header'
		'menu main main main right right'
		'menu footer footer footer footer footer';
	gap: 10px;
	background-color: #2196F3;
	padding: 10px;
}

.grid-container>div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

.button-container {
	display: flex;
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	justify-content: space-around;
}

.description-container {
	display: flex;
	padding: 2rem;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	justify-content: center;
	font-size: x-large;
	color: darkgreen;
	border: solid;
}

.demo-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.layout-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
}