
.layout-item {
  text-align: left;
}

.layout-center {
    text-align: center;
    justify-content: center;
    margin: 10px;
    height: 50px;
}

.demo_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	height:100px;
	margin: 15px;
	border-radius: 4px;
}
.demo_label {
	display: flex;
	justify-content: space-around;
	font-weight: bold;
}