body {
    margin: 40px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;
    color: #444;
    border: solid;
  }
  
  .box {
    background-color: #317590;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
    justify-content: center;
}
.card {
  background-color: #317590;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  justify-content: center;
}