*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: "Open Sans", "sans-serif";
    background-color: #fff;
  }
  
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}
.flex-item {
  color: red;
  font-size: 30px;
}

.intro {
    /* max-width: 940px; */
    display: grid;
    /* margin: 0 auto; */
    /* grid-template-columns: 3fr; */
    font-size: 30px;
    margin: 60px;
    grid-gap: 10px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
  
  }
  
.header > div {
  background-color: white;
}

h1,
p {
  margin: 0 0 1em 0;
}

.sidebar {
  float: left;
  width: 19.1489%;
  background-color: aqua;
  border-color: black;
  border-width: 2px;
  border-style: solid;

  .content {
    float: right;
    width: 79.7872%;
  }

  .wrapper > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    margin-bottom: 10px;
  }

  .header,
  .footer {
    grid-column: 1 / -1;
    clear: both;
  }

  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }
}
