<!DOCTYPE html>
<html lang="en">

<head>
    <title>Template</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/header.css" />

    <style>
        body {
            font-family: arial;
        }
    </style>
</head>

<body style="background-color: lightskyblue;">
    <div class="page-header">
        <div style="align-self: flex-end">Software Dictionary</div>
        <div style="align-self: flex-start">Revision 0.1</div>
    </div>

    <div class="container">
        <div class="description-header">Bootstrap Template</div>

        <!-- ------------- Source Code -------------- -->

        <div>
            <div class="accordion" id="accordionOne">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            Source
                        </button>
                    </h2>

                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <textarea rows="8" cols="100">
                                <div>
                                    <p>Place source code here</p>
                                </div>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 20px;"></div>

            <!-- ------------- Notes -------------- -->

            <div class="accordion" id="accordionTwo">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"data-bs-target="#collapseTwo">
                            Notes
                        </button>
                    </h2>

                    <div id="collapseTwo" class="accordion-collapse collapse" 
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Note #1</li>
                                <li>Note #2</li>
                                <li>Note #3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>

            <!--  Demo Code -->

            <div class="demo_header">
                <div class="button-container">
                    <button type="button" class="btn btn-sm btn-primary">Primary</button>
                    <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-sm btn-success">Success</button>
                    <button type="button" class="btn btn-sm btn-danger">Danger</button>
                    <button type="button" class="btn btn-sm btn-warning">Warning</button>
                    <button type="button" class="btn btn-sm btn-info">Info</button>
                    <button type="button" class="btn btn-sm btn-light">Light</button>
                    <button type="button" class="btn btn-sm btn-dark">Dark</button>
    
                    <button type="button" class="btn btn-sm btn-link">Link</button>
    
                </div>
    
        </div>
    </div>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery-ui.js"></script>
</body>

</html>