
.container {
    display: flex;
    flex-direction: row;
}

.box {
    height: 150px;
    width: 150px;
    border: 2px solid darkgray;
    margin: 20px;
    text-align: center;
    justify-items: center;
}

.a {
    background-color: aqua;
}
.b {
    background-color: aqua;
}