*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family:"Arial", "Helvetica", "sans-serif";
  background-color: #fff;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}


.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 80px 50px 50px; Make the grid smaller than the container
  gap: 10px;
  background-color: #063205;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}






.main-container {
  background-color: #eb7e7e;
  color: #fff;
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 30px;
}

.header-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: rgb(135, 37, 37);
  }

.footer-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: rgb(135, 37, 37);
      grid-column: 1 / -1;

  }
  
  .question-container {
  display: grid;
  max-width: 940px;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.question-container > * {
  background-color: #421d1d;
  color: #fff;
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

  .sidebar-container {
  display: grid;
  flex-direction: column;
  background-color: cornflowerblue;
  justify-items: center;
  grid-gap: 20px;
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  /* background-color: #271fb3; */
  background-color: rgb(214, 175, 175);
  border-radius: 8px;
  color: rgb(33, 30, 30);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  width: auto;
  
}

.sidebar {
  float: left;
}

.content {
  float: right;
  width: 100%;
}

.header {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}

.footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}

.box {
  width: 100px;
  max-height: 100px;
  background-color: darkblue;
  color: darkblue;
}
/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}
